In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv(".data/sales_train.csv")

In [4]:
df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [ ]:
%timeit df.to_csv(".data/tests/df.csv", index=False)

In [ ]:
%timeit df.to_parquet(".data/tests/df_snappy.parquet", engine='pyarrow')

In [ ]:
%timeit df.to_parquet(".data/tests/df_gzip.parquet", engine='pyarrow', compression='gzip')

In [ ]:
%timeit df.to_parquet(".data/tests/df_brotli.parquet", engine='pyarrow', compression='brotli')

In [ ]:
%timeit df.to_feather(".data/tests/df.feather")

In [ ]:
!ls -lahS .data/tests

In [8]:
df.to_parquet(".data/tests/df_date_partition_parquet", partition_cols=["date"], engine='pyarrow')

In [11]:
pd.read_parquet(".data/tests/df_date_partition_parquet/date=01.01.2013/f97c96c58e554423bfde4d486bb60eb0-0.parquet")

      date_block_num  shop_id  item_id  item_price  item_cnt_day
0                  0       19    18976       399.0           1.0
1                  0       19    18284       199.0           1.0
2                  0       19    18320       199.0           1.0
3                  0       19    18329       299.0           1.0
4                  0       19    19367       399.0           1.0
...              ...      ...      ...         ...           ...
1664               0       46     1481      1999.0           2.0
1665               0       46     1837      1999.0           1.0
1666               0       46     1916       249.0           1.0
1667               0       46     1956       399.0           1.0
1668               0       46       32       349.0           1.0

[1669 rows x 5 columns]

In [12]:
df.to_parquet(".data/tests/df_date_block_num_partition_parquet", partition_cols=["date_block_num"], engine='pyarrow')

In [13]:
pd.read_parquet(".data/tests/df_date_block_num_partition_parquet/date_block_num=0/25ea1d93c43e4d33808821a209ba3d53-0.parquet")

              date  shop_id  item_id  item_price  item_cnt_day
0       02.01.2013       59    22154      999.00           1.0
1       03.01.2013       25     2552      899.00           1.0
2       05.01.2013       25     2552      899.00          -1.0
3       06.01.2013       25     2554     1709.05           1.0
4       15.01.2013       25     2555     1099.00           1.0
...            ...      ...      ...         ...           ...
115685  19.01.2013       46       32      349.00           1.0
115686  18.01.2013       46       32      349.00           1.0
115687  26.01.2013       46       35      399.00           2.0
115688  31.01.2013       46      621      149.00           1.0
115689  07.01.2013       46       32      349.00           1.0

[115690 rows x 5 columns]

In [17]:
!du -sh .data/tests/df_date_block_num_partition_parquet

 13M	.data/tests/df_date_block_num_partition_parquet

In [18]:
!du -sh .data/tests/df_date_partition_parquet

 30M	.data/tests/df_date_partition_parquet